<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Age to Binary Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles.css" />
</head>
<body>
    <div class= 'container'>
        <h2>Convert your age into binary!</h2>
        <p>Enter your age and click submit to convert it to binary.<br>
            <span id='smallerText'> (Just whole numbers, decimals will be rounded.)</span></p>
        <div id="">
            <input id="age" type="text" size = "20" placeholder="Enter age" />
            <input type="submit" 
       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
       tabindex="-1" />
       <button type="submit" class="button" form="nameform" value="To Binary" onclick="results()">Submit</button>
    </div>
    <div id='results-container'>
        <h1 id="results"></h1>
        </div>
    </div>

    <div class="footer">
        <p style="text-align:left;">Created by Courtney Landau
            <span style="float:right;">2018</span>
            </p>
    </div>
</body>

<script>
    let ageBox = document.getElementById("age");
    let resultsPlacement = document.getElementById("results");

    function results() {
        let resultIn10 = parseInt(Math.round(parseFloat(ageBox.value)));
        let resultIn2 = ageInBinary(resultIn10);
        console.log(resultIn10);
        resultsPlacement.innerHTML = "Your age in binary is " + resultIn2;
    }

    function ageInBinary(age) {
        if(isNaN(age)) {
            return('incalculable.');
        }
        else if(age > 200 || age < 0) return('not really an age!');
        if(age === 0) return '0';
        let binaryAge = [];
        while(age > 0) {
            var remain = age % 2;
            age = parseInt(age/2);
            binaryAge.unshift(remain.toString());
        }
        return binaryAge.join('');
    }
</script>
</html>